/* layout.css begin */
/* ../../desktop.blocks/page/page.css begin */
.page
{
    margin: 0;
    background: #F6F5F3;
}

/* ../../desktop.blocks/page/page.css end */
/* ../../desktop.blocks/prefer/prefer.css begin */
.wrapper
{
    min-width: 990px;
}
.prefer
{
    float: right;
    margin: 20px 20px 20px 10px;
    max-width: 180px;
    color: #666;
    text-align: left;
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 20px;
}
.prefer__group
{
    margin-top: 30px;
}
.prefer__title,
.prefer__important
{
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}
.prefer__item_active_yes,
.prefer__important
{
    padding-left: 8px;
    border-left: 2px solid red;
    color: #000;
}
.prefer__items
{
    overflow-y: auto;
    max-height: 150px;
}
.prefer__item
{
    overflow: hidden;
    margin-top: 10px;
    padding-left: 10px;
    word-break: break-word;
}
.prefer__group_source_search .prefer__item,
.prefer__group_source_feeds .prefer__item
{
    text-overflow: ellipsis;
    white-space: nowrap;
}


.prefer__item:hover
{
    background: rgb(255, 241, 216);
}

.prefer__edit
{
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    padding: 0 4px;
    border: 1px solid #5b5b5b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    line-height: 26px;
    cursor: pointer;
}
.prefer__edit-text
{
    text-transform: uppercase;
    font-size: 11px;
}
.prefer__edit-icon
{
    display: inline-block;
    padding-right: 4px;
    width: 16px;
    height: 16px;
    background: url("../../desktop.blocks/prefer/prefer__edit-icon.png") no-repeat center;
    vertical-align: -3px;
}
@media only screen and (max-width: 989px) {
    .wrapper
    {
        min-width: 890px;
    }
    .prefer
    {
        max-width: 80px;
    }
    .prefer__edit-text
    {
        display: none;
    }
}

/* ../../desktop.blocks/prefer/prefer.css end */
/* ../../desktop.blocks/layout/layout.css begin */
.layout
{
    margin-right: 220px;
    visibility: hidden;
}
.layout_js_inited
{
    visibility: visible;
}
.layout__col
{
    display: inline-block;
    vertical-align: top;
}

.layout__cel
{
    margin: 20px 0 0 20px;
    width: 368px;

    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Arial;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #e6e4e3;
}

.layout__cel_main_yes
{
    width: 758px;
}

.ua_js_no .layout
{
    visibility: visible;
}




@media only screen and (max-width: 989px) {
    .layout
    {
        margin-right: 110px;
    }
}

/* ../../desktop.blocks/layout/layout.css end */

/* layout.css end */
